<body>
    <div class="container">
      <div class="up-data">
        <img src="../assets/hot.jpeg" *ngIf="14 > 15">
        <img src="../assets/cold.jpg" *ngIf="14 <= 15">

        <div class="weather-data">
          <div class="location">
            wewe
          </div>
          <div class="temperature">
            {{12.54 | number: '1.0-0'}} °C
          </div>
        </div>

      </div>
      <div class="down-data">
        <div class="info-label">
          More Information
        </div>
        <div class="info-container">
          <!-- min temperature info -->
          <div class="info-box">
            <div class="info-box-label">
              <img src="../assets/min.png">
              <span>min</span>
            </div>
            <div class="info-box-value">
              12 °C
            </div>
          </div>
          <!-- max temperature info -->
          <div class="info-box">
            <div class="info-box-label">
              <img src="../assets/max.png">
              <span>max</span>
            </div>
            <div class="info-box-value">
              18 °C
            </div>
          </div>
          <!-- humidty info -->
          <div class="info-box">
            <div class="info-box-label">
              <img src="../assets/humidity.png">
              <span>humidity</span>
            </div>
            <div class="info-box-value">
              66%
            </div>
          </div>
          <!-- wind speed info -->
          <div class="info-box">
            <div class="info-box-label">
              <img src="../assets/wind.png">
              <span>min</span>
            </div>
            <div class="info-box-value">
              11 km/h
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<router-outlet></router-outlet>
